@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --black: #111111;
    --pure-white: #ffffff;
    --yellow: #f4d04e;
    --grey: #7f7f7f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.card {
    background-color: var(--pure-white);
    width: 384px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 var(--black);
}

.img-container img {
    border-radius: 10px;
    width: 100%;
}

.img-container, .content-container {
    margin-bottom: 24px;
}

.content-container > *{
    margin-bottom: 12px;
}

.category {
    background-color: var(--yellow);
    width: 82px;
    padding: 4px 12px;
    border-radius: 4px;
}

.category p {
    font-size: 14px;
    font-weight: 700;
}

.publish-date {
    font-size: 14px;
    font-weight: 500;
}

.title {
    font-size: 24px;
    font-weight: 900;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.title:active {
    color: var(--yellow);
}

.description {
    color: var(--grey);
    font-weight: 500;
}
.author-container {
    display: flex;
    align-items: center;
}

.author-container img {
    width: 32px;
    margin-right: 12px;
}

.author-name {
    font-size: 14px;
    font-weight: 900;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.author-name:hover {
    transform: translateY(5px);
}

.attribution {
    position: absolute;
    bottom: 10px;
}

.attribution a {
    color: var(--pure-white);
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 375px) {
    .card {
        width: 327px;
    }

    .category {
        width: fit-content;
    }

    .category p {
        font-size: 12px;
    }

    .publish-date {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }

    .author-container {
        width: fit-content;
    }
    
}